data/*
auth/private_key.pem
auth/public_key.pem
auth/.env
datanumbers-iot-web/.next/
datanumbers-iot-web/node_modules/
gateway-emqx/.env
gateway-emqx/app.log
gateway-emqx/script.sh
gateway-emqx/data/
auth/data/